html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.products .product.ac-flex-20 {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    flex: 16% 0;
    margin-bottom: 30px;
}

ul.products {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 479px) {
    .products .product.ac-flex-20 {
        /* margin-right: 0; */
        flex: 48% 0;
        margin: 1%;
        display: block;
    }
}

@media (max-width: 991px) {
    .products .product.ac-flex-20 {
        flex: 23% 0;
    }
}

.slider-overlay {
    height: inherit;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

.tp-splitted.tp-linesplit {
    text-align: center !important;
    color: #fff !important;
}

.category-box:hover .overlay {
    opacity: 1;
}

.category-box .overlay {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(170, 98, 67, 0.52);
    z-index: 2;
}

.category-section .category-box:hover .category-content {
    z-index: 5;
}

.category-section .category-box:hover .category-content h5, .category-section .category-box:hover .category-content p, .category-section .category-box:hover .category-content a {
    color: #fff;
}

.category-section .category-box:hover .category-content a {
    border: 1px solid #fff;
}

.section-header h2 {
    font-size: 48px;
}

.selling-box img {
    max-width: 140px;
}

.all-stores img {
    max-width: 380px;
}

.store-banner {
    min-height: 600px;
}

.ac-flex {
    display: flex;
    align-items: center;
}

.ac-img {
    background-size: contain !important;
}

@media (min-width: 768px) {
    .container .ac-img {
        min-height: 145px;
    }

    .ac-img {
        min-height: 210px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .single-product-detail .single-product-info .single-product-button-group .e-btn:last-child {
        display: flex;
    }
    #cart-modal .modal-body {
        overflow-x: scroll;
    }

    .item_cart .product-name .product-img img {
        max-width: 50px;
    }

    .ac-img {
        min-height: 140px;
        width: 100%;
    }

    .flash-deals .product-button-group {
        width: 100%;
        margin: auto;
    }

    .flash-deals .product-info .product-title.v2 {
        font-size: 12px;
    }

    .product-countd.pd-bd {
        padding: 5px;
    }

    .product-tab .col-xs-6 {
        width: 50%;
        padding: 0 5px;
        margin-bottom: 5px;
    }

    .flash-deals {
        padding: 0 30px;
    }
}

.element-list.element-list-middle {
    margin: auto -20px;
}

.item_cart .bcart-quantity, .item_cart .product-name, .item_cart .total-price {
    padding: 5px 0;
}

.item_cart .product-name .btn-del, .item_cart .product-name .product-img {
    margin-right: 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.plus-count, .minus-count {
    align-items: center;
    display: flex;
    font-size: 30px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}

.plus-count:hover, .minus-count:hover {
    cursor: pointer;
}

.e-btn.cart-qtt.btn-gradient {
    width: max-content;
}

.e-btn.cart-qtt.btn-gradient .btn-add-cart {
    margin-left: 5px;
}

.single-product-tab .tab-content {
    padding: 15px;
}

footer .f-top {
    margin-top: 30px;
}

.product-item:hover .pd-bd:after {
    visibility: hidden;
}

.owl-stage-outer {
    padding-bottom: 30px;
}

.has-child:hover > ul {
    opacity: 1;
    display: block;
}

img {
    max-width: 100%;
}